.carousel-caption {
    
    transform: translateY(50%) !important;
}

.carousel-control-next,
.carousel-control-prev {
    width: auto;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 97%;
    color: white !important;
}

.carousel-control-next {
    top: 50%;
    transform: translateY(-38%) !important;
    padding: 0px;
}

.carousel-control-prev {
    top: 50%;
    transform: translateY(-50%) !important;
    padding: 0px;
}

li:hover i {
    color: red !important;
}

li:hover a {
    color: red !important;
}

li:active a {
    color: red !important;
}

.setting {
    z-index: 10;
    width: 40px;
    height: 40px;
}

.bg-color {
    background-color: rgb(59, 59, 59);
}

.setting:hover {
    background-color: rgb(84, 84, 84);
    cursor: pointer;
}

.heading h2 {
    font-size: 5rem;
    opacity: .2;
}

.heading h3 {
    font-size: 3rem;
}

#home {
    height: 100vh;
}

.line {
    width: 50px;
    height: 2px;
    text-align: center;
    background-color: black;
}

.progress {
    height: 0.2rem;
}

.progress-bar {
    background-color: #fd0d42;
}

.card {
    border: 0px;
}

.translate-y {
    opacity: 0;
}

.card:hover .field {
    opacity: .7;
}

.card:hover img {
    transform: scale(1.2);
    transition-duration: .3s;
}

.card:hover h5 {
    color: red;
}

i {
    color: rgb(255, 255, 255);
}

i:hover {
    cursor: pointer;
}

.hover:hover {
    opacity: .7;
}

.hovering:hover .line {
    width: 70px;
    transition-duration: .3s;
}

.bg-gray {
    background-color: #fafafa;
}

#services i {
    color: red;
}

.parts:hover h5 {
    color: red;
    transition-duration: .3s;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 7rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: visible;
}

.carousel-indicators [data-bs-target] {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: red;
}

.yamoshhil .row .col-1 i {
    color: red;
}

span:hover {
    color: red;
    cursor: pointer;
}

h5:hover {
    color: red;
}

footer .footer-copyright {
    position: relative;
    clear: both;
    background: #1a1a1a;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer {
    position: relative;
    clear: both;
    z-index: 10;
    font-family: "Poppins", sans-serif;
    color: #b0b0b0;
}

.prev-footer {
    background-image: url("../7b8508ed-ebcf-4012-bf92-7223640de27c/dotted-map.png");
    position: relative;
    clear: both;
    padding-top: 60px;
    padding-bottom: 60px;
    background-size: contain;
}

.feuld {
    width: 100%;
    height: 100%;
}

.footer-social i:hover {
    color: red;
}

footer .copyright a {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

footer .copyright {
    clear: both;
    margin: 0;
    line-height: 16px;
    letter-spacing: .5px;
    text-align: right;
}

.feuld p:hover {
    color: red;
    cursor: pointer;
}
